* {
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

body {
  font-family: 'Nunito',sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  border: 2px solid black;
  width: 80%;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 30px;
  text-align: center;
}

.title {
  margin-top: 20px;
  font-size: 50px;
  font-weight: 500;
  margin-bottom: 20px;
}

p {
  font-size: 16px;
  margin-bottom: 10px;
  color: #777;
}

.timeline-container {
  display: flex;
  padding: 20px 0px;
  justify-content: center;
  align-items: center;
}

.timeline {
  position: relative;
  width: 70%;
}

.timeline::before,
.timeline::after {
  content: "";
  position: absolute;
  width: 2px;
  background-color: black;
  left: 30%;
  top: 0;
  bottom: 0;
  transform: translateX(-50%);
}

.timeline-item {
  display: flex;
  align-items: center;
  margin: 50px 0;
  position: relative;
}

.timeline-item .date {
  width: 30%;
  text-align: right;
  font-weight: 600;
  padding-right: 30px;
  color: #7777777a;
}

.timeline-item .description {
  width: 70%;
  text-align: left;
  padding-left: 30px;
  font-size: 16px;
  color: #333;
  font-weight: 600;
}

.timeline-item::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: black;
  border-radius: 50%;
  left: 30%;
  transform: translate(-50%, 0%);
}

.btn {
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 30px;
  padding: 15px 30px;
  background-color: #000000;
  color: #fff;
  text-decoration: none;
  border-radius: 10px;
  transition: background-color 0.3s ease;
  border: none;
  cursor: pointer;
}
